@import "tailwindcss";

@source "../app/**/*.tsx";
@source "../contenuPages/**/*.tsx";

@font-face {
    font-family: "Source Sans 3";
    src: url("/rats/assets/SourceSans3-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@theme {
    --font-sourcesans: "Source Sans 3"
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.95);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}