@import "tailwindcss";


@theme {
  --color-primary-light: #AAEEC4;
  --color-primary: #12B74E;
  --color-primary-dark: #166534;
  --color-neutral-light: #f3f4f6;
  --color-neutral: #6b7280;
  --color-neutral-dark: #374151;
}